/* Enter your custom CSS here */

* {
    font-family: Verdana, sans-serif;
    color: #666;
    line-height: 32px;
    font-size: 16px;

}



h1{
    color: #666;
    font-size: 48px;   
    font-weight: 500;    
    padding-top: 25px;
    padding-bottom: 20px;

}

h2 {
    color: #F07C17;
    font-size: 24px;
    font-weight: 900;   
}

.text-header {
    margin-top: 0px;
    margin-bottom: 30px;
    
}



.main-feature {
    margin-top: 30px;
    border: solid 1px #cccccc;
}

.main-feature-heading {
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
   
}

ul {
    padding-left: 70px;   
    margin-bottom: 40px;
}

